.coin_search {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.coin_input {
  background: #222531;
  border: none;
  padding: 16px;
  border-radius: 4px;
  outline: none;
  height: 100%;
  width: 100%;
}

.coin_input::placeholder {
  color: #e2e2e2;
  font-size: 18px;
}
.coin_search i {
  position: absolute;
  top: 16px;
  right: 18px;
  font-size: 24px;
  color: rgb(156, 156, 156);
}
.coin_search button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
.coin_search i {
  font-size: 24px;
  color: rgb(156, 156, 156);
}
.coin_search i:hover {
  transform: scale(1.1);
  transition: 0.2s linear;
  color: rgb(192, 192, 192);
}
