.setting_section {
  position: absolute;
  top: 60px;
  left: 180px;
  width: 1700px;
}
.setting_container {
  background: linear-gradient(
    55deg,
    hsla(240, 26%, 11%, 1) 0%,
    hsla(240, 26%, 11%, 1) 54%,
    rgb(21, 25, 87) 100%
  );

  background: -moz-linear-gradient(
    55deg,
    hsla(240, 26%, 11%, 1) 0%,
    hsla(240, 26%, 11%, 1) 54%,
    rgb(21, 25, 87) 100%
  );

  background: -webkit-linear-gradient(
    55deg,
    hsla(240, 26%, 11%, 1) 0%,
    hsla(240, 26%, 11%, 1) 54%,
    rgb(21, 25, 87) 100%
  );
}
.setting_form {
  margin-top: 50px;
}

/* PROFILE TAB */
.profile_tab,
.security_tab, .notification_tab {
  display: flex;
}

/*  TAB LEFT */
.profile_tab_left,
.security_tab_left, .notification_tab_left {
  margin-right: 60px;
}
.profile_picture,
.credir_card_changing, .notification_receive {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(199, 199, 199, 0.26);
  border-radius: 10px;
  padding: 30px;
  width: 500px;
  height: 400px;
}
.notification_receive{
  width: 700px;
  align-items:flex-start;
  justify-content: flex-start;
}
.profile_picture:hover,
.credir_card_changing:hover, .security_tab_bottom:hover, .notification_receive:hover {
  box-shadow: 0px 0px 3px 0px rgba(199, 199, 199);
}
.profile_picture p,
.credir_card_changing p, .notification_receive p {
  position: absolute;
  top: 16px;
}
.profile_picture p::after,
.credir_card_changing p::after, .notification_receive p::after {
  content: "";
  width: 499px;
  height: 1px;
  background-color: rgba(199, 199, 199, 0.26);
  position: absolute;
  top: 45px;
  left: -177px;
}
.notification_receive p::after{
  width: 698px;
  left: -30px;
}
.credir_card_changing p::after {
  left: -186px;
}
.profile_picture img,
.credir_card_changing img {
  width: 120px;
  top: 110px;
  position: absolute;
}
.profile_picture .tab1_button,
.credir_card_changing button {
  top: 270px;
  position: absolute;
  background-color: rgb(18, 18, 41);
  width: 300px;
  padding: 15px;
  border: 1px solid rgba(199, 199, 199, 0.26);
  border-radius: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profile_picture .tab1_button:hover,
.credir_card_changing button:hover {
  background-color: rgb(20, 20, 47);
  transition: 0.2s linear;
}

/*  TAB RIGHT */
.profile_tab_right,
.security_tab_right, .notification_tab_right {
  width: 1100px;
  height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(199, 199, 199, 0.26);
  border-radius: 10px;
  padding: 30px;
}
.notification_tab_right{
  width: 900px;
}
.security_tab_right {
  height: 400px;
}
.profile_tab_right:hover,
.security_tab_right:hover, .notification_tab_right:hover{
  box-shadow: 0px 0px 3px 0px rgba(199, 199, 199);
}
.profile_tab_right_title,
.security_tab_right_title, .notification_tab_right_title, .notification_tab_right_title {
  position: absolute;
  top: 16px;
}
.profile_tab_right_title::after,
.security_tab_right_title::after, .notification_tab_right_title::after {
  content: "";
  width: 1090px;
  height: 1px;
  background-color: rgba(199, 199, 199, 0.26);
  position: absolute;
  top: 45px;
  left: -30px;
}
.notification_tab_right_title::after{
  width: 890px;
}

/* Setting Form*/
.setting_form {
  margin-top: -10px;
}
.setting_form input {
  outline: none;
  height: 50px;
  border: 1px solid rgba(180, 180, 180, 0.37);
  border-radius: 15px;
  background: linear-gradient(
    55deg,
    hsla(240, 26%, 11%, 1) 0%,
    hsla(240, 26%, 11%, 1) 54%,
    rgb(21, 25, 87) 100%
  );

  background: -moz-linear-gradient(
    55deg,
    hsla(240, 26%, 11%, 1) 0%,
    hsla(240, 26%, 11%, 1) 54%,
    rgb(21, 25, 87) 100%
  );

  background: -webkit-linear-gradient(
    55deg,
    hsla(240, 26%, 11%, 1) 0%,
    hsla(240, 26%, 11%, 1) 54%,
    rgb(21, 25, 87) 100%
  );
}
.setting_form input:hover {
  border: 1px solid rgb(204, 204, 204);
}
.setting_form input:focus {
  border: 1px solid rgb(21, 114, 177);
}
.setting_form input:enabled {
  color: rgb(207, 207, 207);
  padding-left: 5px;
}
.setting_form input::placeholder {
  color: rgb(207, 207, 207);
  padding-left: 5px;
}
.setting_form input[placeholder="Name"] {
  display: block;
  margin-bottom: 30px;
}
.setting_form input[placeholder="Email Address"] {
  display: block;
  margin-bottom: 20px;
}
.setting_form_small_inputs input {
  width: 49%;
  margin: 15px 0;
}
.setting_form_small_inputs input:nth-of-type(2) {
  margin-left: 20px;
}
.setting_form .tab1_button,
.change_password_button {
  position: absolute;
  background-color: rgb(18, 18, 41);
  width: 300px;
  padding: 15px;
  margin-top: 30px;
  border: 1px solid rgba(199, 199, 199, 0.26);
  border-radius: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.setting_form .tab1_button:hover,
.change_password_button:hover {
  background-color: rgb(20, 20, 47);
  transition: 0.2s linear;
}

/* Security */
.current_password {
  position: relative;
  top: -30px;
}
.new_password {
  position: relative;
  top: -10px;
}
.renew_password {
  position: relative;
  top: 10px;
}
.password_input {
  width: 100%;
}
.password_button {
  background: none;
  border: none;
  position: absolute;
  top: 7px;
  right: 20px;
}
/* Security BOTTOM */
.security_tab_bottom {
  width: 100%;
  border: 1px solid rgba(199, 199, 199, 0.26);
  border-radius: 10px;
  margin: 25px 0;
  padding: 20px;
  height: 200px;
}
.delete_account_title {
  position: relative;
  padding-bottom: 10px;
}
.delete_account_title::after {
  content: '';
  position: absolute;
  width: 1650px;
  height: 1px;
  background-color: rgba(199, 199, 199, 0.26) ;
  top: 40px;
  left: -20px;
}
.delete_account_body {
  margin: 20px 0;
}
.delete_account_button {
  background-color: transparent;
  border: 1px solid rgb(218, 0, 0);
  border-radius: 13px;
  padding: 10px;
  color: rgb(218, 0, 0);
  font-size: 16px;
  width: 180px;
  float: right;
}
.delete_account_button:hover {
  box-shadow: 0px 0px 3px 1px rgb(218, 0, 0);
  font-weight: bold;
}

/* Notification Tab */
.notification_receive_boxes{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.notification_tab_right_top{
  display: flex;
  flex-direction: column;
}
.notification_tab_right_bottom{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.notification_tab_right_top p,.notification_tab_right_bottom p{
  font-weight: bold;
}